<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context.xsd
			http://www.springframework.org/schema/aop
           http://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!-- 开启注解驱动 -->
    <mvc:annotation-driven/>
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/user/password/new"/>
            <mvc:mapping path="/user/manager"/>
            <mvc:mapping path="/**/detail"/>
            <bean class="com.wy.aop.LoginInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>


    <!-- 设置使用controller注解的类所在的包 -->
    <context:component-scan base-package="com.wy.controller"/>
    <bean id="urlBasedViewResolver"
          class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass" value="com.wy.viewResolver.MyJSPResolver"/>
        <property name="order" value="0"/>
        <property name="contentType" value="text/html;charset=UTF-8"/>
    </bean>
    <bean id="internalResourceViewResolver"
          class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
        <property name="order" value="1"/>
        <property name="prefix" value="/WEB-INF/"/>
        <property name="suffix" value=".jsp"/>
        <property name="contentType" value="text/html;charset=UTF-8"/>
    </bean>


    <!-- 静态资源不拦截 -->
    <mvc:resources mapping="/css/**" location="css/" />
    <mvc:resources mapping="/image/**" location="image/" />
    <mvc:resources mapping="/js/**" location="js/" />
    <mvc:resources mapping="/jsp/index/**" location="jsp/index" />

    <context:component-scan base-package="com.wy.aop.advice"/>
    <aop:aspectj-autoproxy proxy-target-class="true"></aop:aspectj-autoproxy>

</beans>